*{
  padding: 0;
  margin: 0;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.clear::after{
  content: '';
  clear: both;
  display: block;
}
.left{
  float: left;
}
.right{
  float: right;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
.container{
    max-width: 1240px;
    margin: auto;
}
.mid-content{
  max-width: 900px;
  margin: 0 auto;
}
body{
  background-color: #eee;
}

body,h1,h2,h3,h4,h5,h6,p,a,span{
  font-family: 'Roboto', sans-serif;
}
.header-section{
  background-color: #000;
  padding: 10px 0 5px;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}
.header-left {
  width: 30%;
}
.logo img{
  width: 80px;
  margin-right: 10px;
  cursor: pointer;
}
.header-right{
  width: 70%;
}

.primary-menu{}
.primary-menu ul{
  text-align: right;
}
.primary-menu ul li{
  display: inline-block;
}
.primary-menu ul li a{
  display: block ;
  padding: 0 20px;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}
.primary-menu ul li a i{
  font-size: 16px;
  transition: .4s;
}
.primary-menu ul li a:hover{
  text-decoration: underline;
}

/* Dropdown menu */
.primary-menu ul li{
  position: relative;
}
.primary-menu ul li ul{
  position: absolute;
  left: 0;
  top: 120%;
  width: 250px;
  background: #000;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: scaleY(0);
  transform-origin: top center;
  border-top: none;
  cursor: pointer;
}
.primary-menu ul li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.primary-menu ul li ul li{
  display: block;
  padding: 10px 10px;
  text-align: left;
}

.sub-menu li:hover {
  color: #000;
  background-color: #fff;
  text-decoration: underline;
}
.primary-menu ul li ul li:first-child{
  border-top: 3px solid #fff;
}



/* banner-section */
.banner-section{
  background: url(img/banner.jpg) no-repeat top;
  background-size: cover;
  padding: 160px 0 200px;
}
.banner-content{
  margin-left: 10px;
}
.banner-content h1{
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 900;
}
.banner-content h3{
  font-size: 20px;
  margin-bottom: 15px;
}
.banner-btn{
  display: inline-block;
  padding: 18px 30px;
  border-radius: 10px;
  margin-top: 3px;
  color: #000;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: .5s;
  margin-right: 20px
}
.banner-btn:hover{
  background-color: #000;
  color: #fff;
}
.fb-blc{
  background-color: #000;
  color: #fff;
}
.fb-blc:hover{
  background-color: #fff;
  color: #000;
}


/* about-section */
.about-section{
  background-color: #87A471;
  padding: 30px 0 40px;
}

.about-name h1{
  font-size: 50px;
  text-align: center;
  color: #E8DFDA;
  text-shadow: 1px 1px 4px #fff;
  position: relative;
  padding-bottom: 50px;
}
.about-name h1::after{
  content: '';
  position: absolute;
  top: 70px;
  left: 300px;
  height: 3px;
  width: 300px;
  background: #E8DFDA;
}

.about-left{
  width: 55%;
  margin-top: 50px;
}
.about-left p{
  color: #eee;
  line-height: 18px;
  font-size: 14px;
  word-spacing: 2px;
}
.about-right{
  width: 30%;
}
.about-right img{
  width: 250px;
}



.what-nm {
  font-size: 20px !important;
}
.work-section{
  background-color: #606A64;
  padding: 30px 0 40px;
}
.top-content{
  margin-top: -10px ;
}
.top-content h2{
  font-size: 35px;
  color: #E0E1E2;
  margin: 0px 0 20px;
}
.top-content p{
  color: #E0E1E2;
  line-height: 28px;
  word-spacing: 3px;
  letter-spacing: .5px;
}

.bottom-content{
  width: 100%;
  margin: 50px 0 0px;
}
.service-box{
  width: 25%;
  margin-left: 80px ;
  height: 250px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 25px;
  box-sizing: border-box;
}
.s-icon{
  width: 40px;
  float: left;
  min-height: 140px;
  font-size: 16px;
  color: #6278df;
  margin-right: 20px;
  margin-top: 15px;
}
.s-content{
  margin-top: 8px;
}
.s-content h3{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.s-content p{
  color: #aaa;
  font-size: 14px;
  line-height: 1.6em;
}

/* latest-work */
.latest-work{
  background-color: #87A471;
  padding-bottom: 50px;
}
.works-name{
  padding: 80px 0 20px;
}
.works-name h2{
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.works-name p{
  font-size: 16px;
  color: #eee;
  margin-bottom: 50px;
}

.templete-section{
  padding-bottom: 50px;
}

.tem-left{
  width: 48%;
}
.tem-right{
  width: 48%;
}
.tem-box{
  width: 100%;
  border: 1px solid #ddd;
}
.tem-box img{
  width: 450px;
}
.tem-box h4{
  font-size: 14px;
  text-align: center;
  padding: 10px 0 10px;
  color: #578497;
}
.tem-box h5{
  font-size: 14px;
  text-align: center;
  padding: 0 0 10px;
  color: #fff;
}

.tem-img {
  margin-top: 50px;
  width: 23%;
  margin-right: 24px;
}
.tem-img:last-child{
  margin-right: 0;
}
.tem-img img{
  width: 100%;
}




/* member-section */
.member-section{
  background-color: #5B9776;
  padding: 30px 0 20px;
}
.member-name{

}

.member-name h1{
  font-size: 30px;
  text-align: center;
  color: #E8DFDA;
  position: relative;
  padding-bottom: 50px;
}
.member-name h1::after{
  content: '';
  position: absolute;
  top: 50px;
  left: 315px;
  height: 3px;
  width: 270px;
  background: #E8DFDA;
}

.member-box{
  width: 29.2%;
  margin-right: 4%;
}
.member-box img{
  width: 100%;
}
.mem-icons{
  margin: 10px 0;
}
.mem-icons a {
  font-size: 30px;
  margin: 0 8px;
  color: #fff;
  transition: .5s;
}
.mem-icons a:hover{
  color: #000;
}

.document-section{
  background-color: #606A64;
  padding: 100px 0 100px;
}
.document-section h1{
  font-size: 30px;
  color: #E0E1E2;
  margin-bottom: 20px;
}
.document-section p{
  font-size: 20px;
  color: #E0E1E2;
}
.txt-btn{
  margin-top: 30px;
}
.document-section a{
  font-size: 14px;
  padding: 15px 30px;
  color: #fff;
  border-radius: 5px;
  background: #00BC9C;
  transition: .5s;
}
.document-section a:hover{
  background-color: #3A556D;
}
.footer{
  background: #000;
}
.footer-content p{ 
  padding: 22px 0;
  color: #fff;
  font-size: 20px;
}